---
import Layout from "../layouts/Layout.astro";
import { wpquery } from "../functions/wpress";
import BlockField, { BLOCKS_FIELD } from "../components/BlockField.astro";

const data = await wpquery({
    query: `
    query HomePage($uri: String = "$uri") {
        nodeByUri(uri: $uri) {
            ... on Page {
                slug
                title
                seo {
                    fullHead
                }
                ...BlocksField
            }
        }
        globalStylesheet
    }
    ${BLOCKS_FIELD}
    `,
    variables: { uri: "/recipies" },
});

const { nodeByUri, globalStylesheet } = data;
const { seo, blocks } = nodeByUri;
---

<Layout inlineCss={globalStylesheet} seoFullHead={seo.fullHead}>
    <section class="container mx-auto max-w-screen-xl px-4">
        <main class="py-12 lg:py-24">
            {
                blocks.map((block: any) => {
                    return <BlockField {...block} />;
                })
            }
        </main>
    </section>
</Layout>
