---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { wpquery } from "../functions/wpress";

const data = await wpquery({
    query: `
        query HomePage($uri: String = "$uri") {
            nodeByUri(uri: $uri) {
                ... on Page {
                    slug
                    title
                    seo {
                        fullHead
                    }
                    blocks {
                        name
                        order
                        saveContent
                    }
                }
            }
        }
    `,
    variables: { uri: "/recipies" },
});

const { nodeByUri } = data;
const { title, seo } = nodeByUri;
---

<Layout title={title} seo={seo.fullHead}>
    <Header />
    <section class="container mx-auto max-w-screen-xl px-4">
        <main class="py-12">
            <h1 class="text-4xl font-bold">{title}</h1>
            <p class="mt-4">Página de about me</p>
        </main>
    </section>
</Layout>
