---
import "../css/global.css";
import "@fontsource/playfair-display/400.css";
import "@fontsource/playfair-display/500.css";
import "@fontsource/playfair-display/600.css";
import "@fontsource/playfair-display/700.css";
import "@fontsource/playfair-display/800.css";
import "@fontsource/playfair-display/900.css";
interface Props {
    seoFullHead?: string;
    inlineCss?: string;
}

const { seoFullHead, inlineCss } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="canonical" content={Astro.url} />
        {!seoFullHead ? null : <Fragment set:html={seoFullHead} />}
        {!inlineCss ? null : <style set:html={inlineCss} />}
    </head>
    <body class="bg-slate-50"> <slot /> </body>
</html>
